
if TARGET_UXLB_EVB

config SYS_BOARD
	default "trix"

config SYS_VENDOR
	default "sigmadesigns"

config SYS_CONFIG_NAME
	default "uxlb_evb"

config SYS_PROMPT
	default "uxlb-EVB# "

endif

if TARGET_SX6_EMMC

config SYS_BOARD
	default "trix"

config SYS_VENDOR
	default "sigmadesigns"

config SYS_CONFIG_NAME
	default "sx6_emmc"

config SYS_PROMPT
	default "SX6-EMMC# "

endif

if TARGET_SX6_EVB

config SYS_BOARD
	default "trix"

config SYS_VENDOR
	default "sigmadesigns"

config SYS_CONFIG_NAME
	default "sx6_evb"

config SYS_PROMPT
	default "SX6-EVB# "

endif

if TARGET_SX7_EMMC

config SYS_BOARD
	default "trix"

config SYS_VENDOR
	default "sigmadesigns"

config SYS_CONFIG_NAME
	default "sx7_emmc"

config SYS_PROMPT
	default "SX7-EMMC# "

endif

if TARGET_SX7_EVB

config SYS_BOARD
	default "trix"

config SYS_VENDOR
	default "sigmadesigns"

config SYS_CONFIG_NAME
	default "sx7_evb"

config SYS_PROMPT
	default "SX7-EVB# "

endif

if TARGET_SX8_EMMC

config SYS_BOARD
	default "trix"

config SYS_VENDOR
	default "sigmadesigns"

config SYS_CONFIG_NAME
	default "sx8_emmc"

config SYS_PROMPT
	default "SX8-EMMC# "

endif

if TARGET_SX8_EVB

config SYS_BOARD
	default "trix"

config SYS_VENDOR
	default "sigmadesigns"

config SYS_CONFIG_NAME
	default "sx8_evb"

config SYS_PROMPT
	default "SX8-EVB# "

endif
