CONFIG_ARM=y
CONFIG_CPU_V7=y
CONFIG_SYS_ARCH="arm"
CONFIG_SYS_CPU="armv7"
CONFIG_SYS_SOC="trix"
CONFIG_ARCH_SIGMA_TRIX=y
CONFIG_TARGET_SX6_EMMC=y

CONFIG_LOCALVERSION_AUTO=y
CONFIG_CC_OPTIMIZE_FOR_SIZE=y
CONFIG_EXPERT=y
CONFIG_SYS_MALLOC_CLEAR_ON_INIT=y

CONFIG_CMDLINE=y
CONFIG_HUSH_PARSER=y
CONFIG_SYS_HUSH_PARSER=y

CONFIG_SYS_HZ=1000
CONFIG_REGEX=y

CONFIG_CMD_IMLS=n
CONFIG_CMD_SETEXPR=n

