CONFIG_ARM=y
CONFIG_ARCH_SIGMA_TRIX=y
CONFIG_MACH_SIGMA_SX7=y
CONFIG_SIGMA_TRIX_NAME="SX7"
CONFIG_BOARD_CONFIGURATION=y
CONFIG_SYS_BOOTMIPS=y
CONFIG_SECURE_MONITOR=y
CONFIG_TEST_S2RAM=y
CONFIG_SYSLOG=y
CONFIG_SIGMA_MCONFIG=y
CONFIG_SIGMA_AUTOUPDATE=y
CONFIG_TRIX_TIMESTAMP=y
CONFIG_DEFAULT_DEVICE_TREE="trix-sx"
CONFIG_FIT=y
CONFIG_HUSH_PARSER=y
CONFIG_SYS_PROMPT="SX7-EMMC# "
# CONFIG_CMD_IMLS is not set
# CONFIG_CMD_SETEXPR is not set
CONFIG_OF_CONTROL=y
CONFIG_DM=y
CONFIG_NETDEVICES=y
CONFIG_ETH_DESIGNWARE=y
CONFIG_USB=y
CONFIG_DM_USB=y
CONFIG_USB_XHCI_HCD=y
CONFIG_USB_XHCI_TRIX=y
CONFIG_USB_EHCI_HCD=y
CONFIG_USB_EHCI_TRIX=y
