CONFIG_ARM=y
CONFIG_ARCH_SIGMA_TRIX_ARM64=y
CONFIG_SIGMA_TRIX_NAME="UNION"
CONFIG_TRIX_NONE=y
CONFIG_SIGMA_TRIX_GICV3=y
CONFIG_TEST_S2RAM=y
CONFIG_SYSLOG=y
CONFIG_SIGMA_MCONFIG=y
CONFIG_TRIX_TIMESTAMP=y
CONFIG_DEFAULT_DEVICE_TREE="trix-sx"
# CONFIG_SYS_MALLOC_CLEAR_ON_INIT is not set
CONFIG_FIT=y
CONFIG_HUSH_PARSER=y
CONFIG_SYS_PROMPT="UNION-EMMC# "
# CONFIG_CMD_IMLS is not set
# CONFIG_CMD_SETEXPR is not set
# CONFIG_CMD_NET is not set
# CONFIG_CMD_NFS is not set
CONFIG_OF_CONTROL=y
CONFIG_DM=y
CONFIG_REGEX=y
