if ARCH_SIGMA_TRIX

menu "Sigma DTV SOC"
choice
	prompt "Soc series"

config MACH_SIGMA_UXLB
	bool "UXLB chipset"

config MACH_SIGMA_SX6
	bool "SX6 chipset"

config MACH_SIGMA_SX7
	bool "SX7 chipset"

config MACH_SIGMA_SX8
	bool "SX8 chipset"

endchoice

config SIGMA_TRIX_NAME
	string
	prompt "Enter SOC nanme"

choice
	prompt "Boot device"

config TRIX_MMC
	bool "eMMC boot"

config TRIX_NAND
	bool "Nand boot"

endchoice

if MACH_SIGMA_SX6 || MACH_SIGMA_UXLB
config SIGMA_NR_UMACS
	int "Set counts of UMAC controller"
	default 2
endif

if MACH_SIGMA_SX7 || MACH_SIGMA_SX8
config SIGMA_NR_UMACS
	int "Set counts of UMAC controller"
	default 3
endif

menu "Sigma DTV features"

config BOARD_CONFIGURATION
	bool "Load Board configuration from disk"

config SYS_BOOTMIPS
	bool "Boot Display & AV mips in u-boot"

config SECURE_MONITOR
	bool "Support board with secure extension enable case"

config TEST_S2RAM
	bool "Support test S2RAM"

config SYSLOG
	bool "SYSLOG control"
	help
	SYSLOG

config SIGMA_MCONFIG
	bool "Enable MCONFIG"
	help
	Auto detect each UAMC size and save as ENV 'msize'

config SIGMA_AUTOUPDATE
	bool "Auto update from USB"

config TRIX_TIMESTAMP
	bool "Use timer0 get high percision time stamp"
	help
	Use command 'showts' can show out soc timer value elapsed 
	clock @200MHz in ascending order 

endmenu
endmenu
config SYS_SOC
	default "trix"

source "board/sigmadesigns/trix/Kconfig"

endif
