config ARCH_SIGMA_TRIX
	bool

if ARCH_SIGMA_TRIX

menu "Sigma DTV SOC"
choice
	prompt "Soc series"

config SIGMA_SOC_UXLB
	depends on ARCH_SIGMA_TRIX_ARM
	bool "UXLB chipset"

config SIGMA_SOC_SX6
	depends on ARCH_SIGMA_TRIX_ARM
	bool "SX6 chipset"

config SIGMA_SOC_SX7
	depends on ARCH_SIGMA_TRIX_ARM
	bool "SX7 chipset"

config SIGMA_SOC_SX8
	depends on ARCH_SIGMA_TRIX_ARM
	bool "SX8 chipset"

config SIGMA_SOC_UNION
	depends on ARCH_SIGMA_TRIX_ARM64
	bool "Union chipset"

endchoice

config SIGMA_TRIX_NAME
	string
	prompt "Enter SOC nanme"

choice
	prompt "Boot device"

config TRIX_MMC
	bool "eMMC boot"

config TRIX_NAND
	bool "Nand boot"

config TRIX_NONE
	bool "None"

endchoice

choice
	prompt "General Interrupt Controller"

config SIGMA_TRIX_GICV
	bool "GICv1 (i.e. Cortex-A9)"
	depends on ARCH_SIGMA_TRIX_ARM

config SIGMA_TRIX_GICV2
	bool "GICv2 (i.e. GIC-400)"

config SIGMA_TRIX_GICV3
	bool "GICv3 (i.e. GIC-500)"

endchoice

config SIGMA_NR_UMACS
	int "Set counts of UMAC controller"
	default 2 if SIGMA_SOC_SX6 || SIGMA_SOC_UXLB
	default 3 if SIGMA_SOC_SX7 || SIGMA_SOC_SX8
	default 1

menu "Sigma DTV features"

config BOARD_CONFIGURATION
	bool "Load Board configuration from disk"

config SYS_BOOTMIPS
	bool "Boot Display & AV mips in u-boot"

config SECURE_MONITOR
	bool "Support board with secure extension enable case"

config TEST_S2RAM
	bool "Support test S2RAM"

config SYSLOG
	bool "SYSLOG control"
	help
	SYSLOG

config SIGMA_MCONFIG
	bool "Enable MCONFIG"
	help
	Auto detect each UAMC size and save as ENV 'msize'

config SIGMA_AUTOUPDATE
	bool "Auto update from USB"
	depends on USB

config TRIX_TIMESTAMP
	bool "Use timer0 get high percision time stamp"
	help
	Use command 'showts' can show out soc timer value elapsed 
	clock @200MHz in ascending order 

config SIGMA_DTV_SECURITY
	bool "Enable image authentication for sdegisn dtv"
	help
	Enable this feature for image authentication.

endmenu
endmenu
config SYS_SOC
	string
	default "trix" if ARCH_SIGMA_TRIX
	default "trix64" if ARCH_SIGMA_TRIX_ARM64

source "board/sigmadesigns/trix/Kconfig"

endif
